---
import { Title } from "../atoms";
---

<section
  id="about"
  class="w-full max-w-7xl mx-auto py-5 lg:py-10 px-4 flex flex-col items-center lg:items-start gap-12"
>
  <Title number="01">Sobre mí</Title>

  <p
    class="text-lg lg:text-2xl max-w-xl text-center lg:max-w-full lg:text-start"
  >
    Soy un fotógrafo apasionado con más de 8 años de experiencia capturando
    momentos únicos e irrepetibles. Mi enfoque se centra en contar historias a
    través de cada imagen, creando recuerdos que perduran para toda la vida.
  </p>
  <p  class="text-lg lg:text-2xl max-w-xl text-center lg:max-w-full lg:text-start">
    Especializado en fotografía de retratos, bodas y eventos corporativos, mi
    estilo combina la elegancia clásica con toques contemporáneos. Cada sesión
    es una oportunidad para crear algo extraordinario y personal.
  </p>
  <p  class="text-lg lg:text-2xl max-w-xl text-center lg:max-w-full lg:text-start">
    Mi filosofía es simple: cada persona tiene una historia única que merece ser
    contada con autenticidad y belleza. Mi trabajo es encontrar esa esencia y
    plasmarla en imágenes que hablen por sí solas.
  </p>
</section>
