---
import { Hero, About, Services, Portfolio } from "@/components/sections";
import { Header, Footer } from "../components/organisms";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main class="flex flex-col gap-y-34">
    <Hero />
    <About />
    <Services />
    <Portfolio />
  </main>
  <Footer />
</Layout>
