---
import { Hero } from '@/components/sections';
import { Header } from '../components/organisms';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
	</main>
</Layout>
