---
const { number } = Astro.props;
---

<h2 class="relative pl-2 lg:my-5 place-content-center">
  <span
    class="block absolute -translate-y-1/2 not-italic -left-[4px] z-[-1] top-1/2 text-[#E7E9E7] font-montserrat text-6xl sm:text-7xl lg:text-9xl font-semibold"
    aria-hidden="true">{number}</span
  >
  <span class="italic text-3xl sm:text-4xl lg:text-5xl font-bold"><slot />.</span>
</h2>
