---
import { Navbar } from '../molecules';
---
<header class="flex justify-between items-center p-4 max-w-7xl mx-auto sticky top-0 bg-white z-10">
    <span class="text-lg font-bold uppercase">Alejandro Ruiz</span>
    <Navbar />
</header>